name: Build Android APK

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradlew

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: .

      - name: Build with Gradle
        run: ./gradlew assembleDebug
        working-directory: .

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: iqro-mandarin-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
